# TYPE  DATABASE        USER            ADDRESS                 METHOD
{% for it in postgresql_hba_entries %}
{{ "%-7s %-15s %-15s %-23s %s"|format(it.type, it.database, it.user, it.address|default(''), it.auth_method) }}
{% endfor %}

